*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url(recursos/5eKX.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}


.card{
    background-color: rgba(0,0,0, 0.4);
    width: 30em;
    height: 35em;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    z-index: 2;
}

header{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    overflow: hidden;
}

header .img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
    width: 20em;
    height: 19em;
    transform-origin: top;
    transition: 0.4s;
}

header .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.card:hover header{
    height: 50%;
}

.card:hover .img{
    transform: translateY(20px) scale(0.8);
    -webkit-transform: translateY(20px) scale(0.8);
    -moz-transform: translateY(20px) scale(0.8);
    -ms-transform: translateY(20px) scale(0.8);
    -o-transform: translateY(20px) scale(0.8);
}
.content{
    height: 50%;
    position: relative;
    display: flex;
}

.yo{
    text-align: center;
    position: absolute;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.yo h1{
    font-family: cursive;
    font-size: 1.7em;
    margin-bottom: 20px;
}

.yo p{
    font-size: 1.3em;
    font-family: cursive;
    display: inline-block;
}

.card:hover span{
    display: inline-block;
    font-family: cursive;
    white-space: nowrap;
    border-right: 3px solid;
    width: 15ch;
    animation: typing 1.5s steps(20), blink 0.5s infinite step-end alternate;
    overflow: hidden;
    -webkit-animation: typing 1.5s steps(20), blink 0.5s infinite step-end alternate;
}
@keyframes typing{
    from {
        width: 0;
    }
}
@keyframes blink{
    50% {
        border-color: transparent;
    }
}

.lista{
    position: absolute;
    width: 100%;
    height: 50%;
    align-self: flex-end;
    display: flex;
    justify-content: center;
}

.lista ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.lista ul li{
    align-self: center;
}
.lista ul li img{
    width: 50px;
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.lista ul li:hover img{
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}